<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>vben-mock-instead</title>
  <link rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico">
  <!-- <link rel="stylesheet" href="/assets/css/layui.css"> -->
</head>

<body>
  <div class="layui-fluid layui-bg-gray">
    <div class="layui-row" style="display: flex;align-items: center;">
      <div class="layui-col-xs6">
        <div class="layui-row">
          <div class="layui-col-xs10">
            <a href="/">
              <span class="layui-font-32 layui-font-purple" style="font-weight: bold;">vben-mock-instead</span>
            </a>
          </div>
        </div>
      </div>
      <div class="layui-col-xs6">
        <div class="layui-row" style="display: flex;align-items: center;">
          <div class="layui-col-xs6 layui-col-xs-offset2">
            <ul class="layui-nav layui-bg-gray layui-font-blue">
              <li class="layui-nav-item layui-this"><a href="">设置</a></li>
              <li class="layui-nav-item"><a href="">API 文档</a></li>
            </ul>
          </div>
          <div class="layui-col-xs4">
            <div style="display: flex;align-items: center;">
              <div class="layui-form" style="margin-right: 16px;">
                <div class="layui-form-item" style="margin-bottom: 8px;">
                  <input type="checkbox" name="CCC" value="2" lay-skin="switch">
                  <div lay-checkbox>
                    <i class="layui-icon layui-icon-moon"></i> |
                    <i class="layui-icon layui-icon-light"></i>
                  </div>
                </div>
              </div>
              <div>
                <a href="https://github.com/xieyijiang/vben-mock-instead" target="_blank">
                  <i class="layui-icon layui-icon-github" style="font-size: 24px; color: #1F2329;"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <h1>Welcome to vben-mock-instead</h1>
  <table>
    <tr>
      <td class="label">API Docs: </td>
      <td class="value"><a href="/api-docs">/api-docs</a></td>
    </tr>
    <tr>
      <td class="label">GitHub: </td>
      <td class="value"><a href="https://github.com/xieyijiang/vben-mock-instead"
          target="_blank">https://github.com/xieyijiang/vben-mock-instead</a></td>
    </tr>
    <tr>
      <td class="label">Gitee: </td>
      <td class="value"><a href="https://gitee.com/crab7/vben-mock-instead"
          target="_blank">https://gitee.com/crab7/vben-mock-instead</a></td>
    </tr>
  </table> -->
  <!-- 让 IE8/9 支持媒体查询，从而兼容栅格 -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
  <script src="/assets/layui.js"></script>
  <script src="/assets/js/init.js"></script>
</body>

</html>